.auth0-captcha {
  margin-bottom: 16px;
  width: 100%;
}

.auth0-captcha-image {
  margin-bottom: 8px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.auth0-captcha-image img {
  max-width: 100%;
  height: auto;
} 