# .github/workflows/ci.yml
name: CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Build (Lint + Test + Build + Docs) (Monorepo Root)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies at root
        run: npm ci


      - name: Generate SDK files
        working-directory: packages/auth0-acul-react

      - name: Build all workspaces
        run: npm run build