/* SignupLink Container */
.auth0-signup-link-container {
  margin-top: 16px;
  text-align: center;
}

.auth0-signup-text {
  color: var(--color-body-text, #1e212a);
  font-size: 14px;
}

.auth0-signup-link {
  color: var(--auth0-primary-hover, #635dff);
  text-decoration: none;
  font-weight: 600;
}

.auth0-signup-link:hover {
  text-decoration: underline;
} 